<div class="parallaxHolder">
  <div class="parallaxOne">
    <h2 id="mainTitle">SmartPlant</h2>
  </div>
</div>

<div id="explain">
    <div>How it works</div>
</div>

<div class="section" id="sectiony">
  <div class="card" id="cardy">
    <div class="cardHead" style="font-size: 20px;">
      <p class="head">Sensors!</p>
    </div>
    <div id="innerCard1" class="innerCard">
    </div>
    <div class="cardDescript">
      <p>Sensors pick up information multiple times per second</p>
    </div>
  </div>

    <div class="card" id="cardy">
      <div class="cardHead" style="font-size: 20px;">
        <p class="head">Raspberry Pi</p>
      </div>
      <div id="innerCard2" class="innerCard">
      </div>
      <div class="cardDescript">
        <p>Pi runs a script averaging incoming data and sending POSTs to API/DB</p>
      </div>
    </div>

    <div class="card" id="cardy">
      <div class="cardHead" style="font-size: 20px;">
        <p class="head">API + DB</p>
      </div>
      <div id="innerCard3" class="innerCard">
      </div>
      <div class="cardDescript">
        <p>API receives POST requests from the Pi and stores them in the DB</p>
      </div>
    </div>

    <div class="card" id="cardy">
      <div class="cardHead" style="font-size: 20px;">
        <p class="head">Site charting DB</p>
      </div>
      <div id="innerCard4" class="innerCard">
    </div>
    <div class="cardDescript">
      <p>Web app retrives DB info and uses D3.js to model data into plot charts</p>
    </div>
  </div>
</div>

  <div class="parallaxHolder">
    <div class="parallaxTwo">
      <div class="paDeHolder">
        <div class="parallaxDescript"><img src="/images/papePlane.png" class="parImg">Grow Your Own Herbs</div>
        <div class="parallaxDescript"><img src="/images/papePlane.png" class="parImg">Save Money and Eat Fresh</div>
        <div class="parallaxDescript"><img src="/images/papePlane.png" class="parImg">Garden Like a Pro</div>
        <div class="parallaxDescript"><img src="/images/papePlane.png" class="parImg">Learn Botany</div>
      </div>
  </div>
</div>

<div class="subFooter">
</div>
