<div class="parallaxOne">
  <h2 id="mainTitle">SmartPlant</h2>
</div>
<div id="explain">
    <div>How it works</div>
</div>

<div class="section" id="sectiony">

  <div class="card" id="cardy">
    <div class="innerCard">

    </div>

  </div>
  <div class="card" id="cardy">
    <div class="innerCard">

    </div>

  </div>
  <div class="card" id="cardy">
    <div class="innerCard">

    </div>

  </div>
  <div class="card" id="cardy">
    <div class="innerCard">
    </div>

  </div>
</div>

<div class="parallaxTwo">
  <h2>parallaxTwo</h2>
</div>

<div class="subFooter">
  <div style="margin:0 auto;">footer</div>
</div>
