<div class="parallaxHolder">
  <div class="parallaxOne">
    <h2 id="mainTitle">SmartPlant</h2>
  </div>
</div>

<div id="explain">
    <div>How it works</div>
</div>

<div class="section" id="sectiony">
  <div class="card" id="cardy">
    <div id="innerCard1" class="innerCard">
  </div>

  </div>
    <div class="card" id="cardy">
      <div id="innerCard2" class="innerCard">
      </div>
    </div>

    <div class="card" id="cardy">
      <div id="innerCard3" class="innerCard">
      </div>
    </div>

    <div class="card" id="cardy">
      <div id="innerCard4" class="innerCard">
    </div>
  </div>
</div>

  <div class="parallaxHolder">
    <div class="parallaxTwo">
  </div>
</div>

<div class="subFooter">
</div>
