<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.10/d3.js"></script>
  </head>
  <body>
      {{{body}}}

    <div id="content">
        <h1>Title</h1>
    </div>

    <script type="text/javascript">
      var sensorData = {};
      var data;
      var margin = {top: 40, right: 40, bottom: 40, left:40},
          width = window.innerWidth,
          height = window.innerHeight;

      var x_scale = d3.scale.linear().range([0, width]);
      var y_scale = d3.scale.linear().range([height, 0]);

      var data_domain = d3.extent(data, function(d) { return d.value;})

      console.log(data_domain)
      var dot_height = d3.scale.linear()
        .domain(data_domain)
        .range([0, height])

      var svg = d3.select("#content").append("svg")
        .attr("viewBox", "0 0 " + width + " " + height)
        .attr("width", width)
        .attr("height", height);

      d3.json("https://smartplant-sensordb.herokuapp.com/sensordata", function(error, data) {
        if (error) return console.warn(error);
        data.forEach(function(d) {
          data[d.createDate] = {
            lightVal : d.light,
            soilVal : d.soil,
            date: d.createDate
          };
        });

        x_scale.domain(d3.extent(d3.values(data), function(d) {
          return d.date;
        }));
        y_scale.domain(d3.extent(d3.values(data), function(d) {
          return d.lightVal;
        }));
        console.log("YOOOO right herrree: ", data)
        console.log("heyeheyehye this is d3.values(data): ", d3.values(data))

        svg.selectAll("circle")
          .data(d3.values(data))
          .enter()
          .append("circle")
          .attr("cx", function(d) { return d["lightVal"]; })
          .attr("cy", function(d) { return d["soilVal"]; })
          .attr("r", 5)
          // .attr("fill", function(d) {
          //   return country_attrs[d.id]["color"];
          // });

          // var x = d3.time.scale()
          //   .domain([new Date(data[0].date), d3.time.hour.offset(new Date(data[data.length - 1].date), 1)])
          //   .rangeRound([0, width - margin.left - margin.right]);
          //
          // var y = d3.scale.linear()
          //   .domain([0, d3.max(data, function(d) { return d.total; })])
          //   .range([height - margin.top - margin.bottom, 0]);
          //
          // var xAxis = d3.svg.axis()
          //   .scale(x)
          //   .orient('bottom')
          //   .ticks(d3.time.days, 1)
          //   .tickFormat(d3.time.format('%a %d'))
          //   .tickSize(0)
          //   .tickPadding(8);
          //
          // var yAxis = d3.svg.axis()
          //   .scale(y)
          //   .orient('left')
          //   .tickPadding(8);
          // });

      });
    </script>
  </body>
</html>
