<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.10/d3.js"></script>
  </head>
  <body>
      {{{body}}}

    <div id="content">
        <h1>Title</h1>
    </div>

    <script type="text/javascript">
      var sensorData = {};
      var data;

      var width = window.innerWidth,
          height = window.innerHeight;

      var svg = d3.select("#content").append("svg")
        .attr("viewBox", "0 0 " + width + " " + height)
        .attr("width", width)
        .attr("height", height);

      d3.json("https://smartplant-sensordb.herokuapp.com/sensordata", function(error, data) {
        if (error) return console.warn(error);
        console.log(data);
        data.forEach(function(d) {
          data[d.createDate] = {
            lightVal : d.light,
            soilVal : d.soil.
            date: d.createDate
          };
        });
        console.log("this is data: ",data);
        svg.selectAll("circle")
          .data(d3.values(data))
          .enter()
          .append("circle")
          .attr("cx", function(d) { return d["light"]; })
          .attr("cy", function(d) { return d["soil"]; })
          .attr("r", 5)
          // .attr("fill", function(d) {
          //   return country_attrs[d.id]["color"];
          // });

      });
    </script>
  </body>
</html>
