<!DOCTYPE html>
<html>
  <head>
    <title>SmartPlant</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.10/d3.js"></script>
    <style media="screen">
      html, body, div, span, applet, object, iframe,
      h1, h2, h3, h4, h5, h6, p, blockquote, pre,
      a, abbr, acronym, address, big, cite, code,
      del, dfn, em, img, ins, kbd, q, s, samp,
      small, strike, strong, sub, sup, tt, var,
      b, u, i, center,
      dl, dt, dd, ol, ul, li,
      fieldset, form, label, legend,
      table, caption, tbody, tfoot, thead, tr, th, td,
      article, aside, canvas, details, embed,
      figure, figcaption, footer, header, hgroup,
      menu, nav, output, ruby, section, summary,
      time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
      }
      /* HTML5 display-role reset for older browsers */
      article, aside, details, figcaption, figure,
      footer, header, hgroup, menu, nav, section {
        display: block;
      }
      body {
        line-height: 1;
      }
      ol, ul {
        list-style: none;
      }
      blockquote, q {
        quotes: none;
      }
      blockquote:before, blockquote:after,
      q:before, q:after {
        content: '';
        content: none;
      }
      table {
        border-collapse: collapse;
        border-spacing: 0;
      }
      axis {
        margin-bottom: 50px;
      }
      g.tick {
        text-anchor: end;
      }
    </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Bad+Script|Cabin+Sketch:700|Indie+Flower" rel="stylesheet">
  </head>
  <body>
    <div class="nav">
      <div class="logo">
        <img src="/images/SPlogo.jpg" alt="" id="logo">
      </div>
      <a href="/" class="data"><div>
        <p class="navButton">Home</p>
      </div></a>
      <a href="/soil" class="data"><div>
        <p class="navButton">Soil Humidity</p>
      </div></a>
      <a href="/light" class="data"><div>
        <p class="navButton">Light</p>
      </div></a>
    </div>
      {{{body}}}

    <div class="footer" style="margin: 0 auto;">

      <div class="contactDivs" id="githubcat">
        <a href="https://github.com/iggirex"><img class="contactImg" src="https://cdn.codementor.io/assets/applicants/github-icon-ac4aeba9da180445f288e3bd0de401cc.png" alt=""></a>
      </div>
      <div class="contactDivs">
        <a href="https://www.linkedin.com/in/iggirex"><img class="contactImg" src="https://www.kpmg.lu/careers/img/logo-linkedin.png" alt=""></a>
      </div>
      <div class="contactDivs">
        <h3 id="email">iggirex@gmail.com</h3>
        <!-- <a href="https://www.facebook.com/profile.php?id=100012014260552"><img class="contactImg" src="http://kerringtonsheart.org/images/FBicon.gif" alt=""></a> -->
      </div>

      </div>
    </div>
  </body>
</html>
