
.nav {
  background-color: #9CFFFA;
  height: 70px;
  color: white;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.logo{
  width: 15%;
}
.data {
  height: 80%;
  width: 30%;
  background-color: #B0C592;
  border-width: medium;
  border-radius: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #A97C73;
  margin: 10px;
  font-family: "Indie Flower";
  font-size: 40px;
}

.parallaxOne {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 450px;
  background-image: url("/images/fresh.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#mainTitle {
  align-items: center;
  color: white;
  font-size: 150px;
  font-family: "Cabin Sketch";
}

#explain {
  margin: 10px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cabin Sketch"
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#sectiony {
  padding-bottom: 0;
  padding-top: 0;
}

.card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
  margin: 30px;
  height: 100px;
}

#cardy {
  background-color: #B0C592;
  height: 600px;
  margin: 10px;
  box-shadow: -4px 6px 13px -1px rgba(0,0,0,0.75);
}
.innerCard {
  height: 65%;
  width: 85%;
  background-size: cover;
}
#innerCard1 {
  background-image: url("/images/sensors.jpg");
}
#innerCard2 {
  background-image: url("/images/smallTable.jpg");
}
#innerCard3 {
  background-image: url("/images/greenDB2.jpg");
}
#innerCard4 {
  background-image: url("/images/screen.jpg");
}

.parallaxTwo {
  width: 100%;
  min-height: 400px;
  background-image: url("/images/smallCilantro.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  background-color: #A97C73;
  color: white;
  margin: 0 auto;
  height: 100px;
  margin-bottom: 0;
}
