html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
axis {
  margin-bottom: 50px;
}
g.tick {
  text-anchor: end;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav {
  background-color: #9CFFFA;
  height: 70px;
  color: white;
  margin-bottom: 20px;
  display: flex;
  align
  flex-direction: row;
}
.logo{
  width: 15%;
}
.data {
  height: 80%;
  width: 30%;
  background-color: #B0C592;
  border-width: medium;
  border-radius: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #A97C73;
  margin: 10px;
  font-family: "Indie Flower";
  font-size: 40px;
}

.parallaxOne {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 450px;
  background-image: url("/images/fresh.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#mainTitle {
  align-items: center;
  color: white;
  font-size: 150px;
  font-style: oblique;
  font-family: "Cabin Sketch";
}

#explain {
  margin: 10px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cabin Sketch"
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*background-color: #ACF39D;*/
}
#sectiony {
  padding-bottom: 0;
  padding-top: 0;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 30px;
  height: 100px;
  background-color: black;
}

#cardy {
  background-color: #B0C592;
  height: 400px;
  margin: 10px;
  box-shadow: -4px 6px 13px -1px rgba(0,0,0,0.75);
}
.innerCard1 {
  dispaly: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 85%;
  background-color: #ACF39D;
  background-image: url("/images/sensors.jpg");
  background-size: cover;
}

.innerCard2 {
  dispaly: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 85%;
  background-color: #ACF39D;
  background-image: url("/images/smallTable.jpg");
  background-size: cover;
}

.innerCard3 {
  dispaly: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 85%;
  background-color: #ACF39D;
  background-image: url("/images/greenDB2.jpg");
  background-size: cover;
}

.innerCard4 {
  dispaly: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 85%;
  background-color: #ACF39D;
  background-image: url("/images/smallFront.jpg");
  background-size: cover;
}

.innerCard img {
  display:flex;
  background-image: url("/images/smallTable.jpg");
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
}

.parallaxTwo {
  width: 100%;
  min-height: 400px;
  background-image: url("/images/smallCilantro.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  background-color: #A97C73;
  color: white;
  margin: 0 auto;
  height: 100px;
}
